.login{
    display: block;
    width: 230px;
    height: 500px;
    
    box-shadow: 10px 10px 31px 5px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 31px 5px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 31px 5px rgba(0,0,0,0.7);
     border-style: none;

    padding: 20px;
    margin-left: 40%;
}
.texto {
    font-family: Arial, Helvetica, sans-serif;
}
.caixa {
    margin-bottom: 30px;
}
.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(19, 19, 107);
}

.input {
    background-color: rgb(169, 167, 167);
    width: 220px;
    height: 20px;
}

.exibido{
    margin-left: 44%;
}
.exibirsenha {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 100px;
}
.exibirbotao{
    float: left;
    display: block;
    width: 10px;
}

.entrar {
  width: 220px; 
  height: 30px;
  background-color: rgb(19, 19, 107); 
  color: white;
  margin-top: 30px;
}
input {
    border-style: none;
}

.labelbotao {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 25px;
}

.botao {
    background-color: white;
    color: rgb(19, 19, 107);
    margin-left: 50px;
    margin-top: 10px;
}

.botaolabel {
    margin-top: 20px;
}